body {
  padding-top: 50px;
}

.em-text{
	color: #1caa98 !important;
}
.jumbotron{
    background: url(../img/Lnu-bg.jpg) no-repeat top center;
    color: #fff;
    height:490px;
    overflow: hidden;
    size: 50%;
    
}

.jombotron h2{
    margin-bottom: 40px;
}
h2{
    color: black;
}

.jombotron p{
    margin-top: 60px;
}
 p{
    color: #000000;
}

.jumbotron img.app-btn{
    width:30%;
    margin-right:10px; 
}

img.demo {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}